vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
.env.*.php
.env.php
.env
.env.example

*.ade
*.adp
*.bat
*.chm
*.cmd
*.com
*.cpl
*.exe
*.hta
*.ins
*.isp
*.jar
*.jse
*.lib
*.lnk
*.mde
*.msc
*.msp
*.mst
*.pif
*.scr
*.sct
*.shb
*.sys
*.vb
*.vbe
*.vbs
*.vxd
*.wsc
*.wsf
*.wsh
nbproject/
